:2020
#:443
#proxy / localhost:4001 localhost:4002
#tls {
#	max_certs 10
#}
gzip
root /src/www
log /src/caddy/access.log {
  rotate {
      size 10 # Rotate after 100 MB
      age  14  # Keep log files for 14 days
      keep 10  # Keep at most 10 log files
  }
}
git {
    repo     https://github.com/wdavidw/node-csv-docs.git
    path     ..
    branch   master
    interval 3600 # 86400
}
