--- yaml
layout: 'home'
title: 'Home'
---

.container-fluid
  .jumbotron
    h1 CSV for Node.js
    p: :markdown
      Comprehensive CSV suite combining 4 well tested packages 
      to generate, parse, transform and stringify CSV data.
.container
  .row
    .col-md-3(style="height: 150px")
      h2 Generate
      p Output text, objects or Arrays
      p: a.btn.btn-default(href="/generate") Learn More
    .col-md-3(style="height: 150px")
      h2 Parse
      p Input text and output objects or Arrays
      p: a.btn.btn-default(href="/parse") Learn More
    .col-md-3(style="height: 150px")
      h2 Transform
      p Input and output objects or Arrays
      p: a.btn.btn-default(href="/transform") Learn More
    .col-md-3(style="height: 150px")
      h2 Stringify
      p Input objects or Arrays and output texts
      p: a.btn.btn-default(href="/stringify") Learn More
