--- yaml
layout: 'home'
title: 'Home'
---

.container-fluid
  .jumbotron
    h1 CSV for Node.js
    p: :markdown
      Comprehensive CSV suite combining 4 well tested packages 
      to generate, parse, transform and stringify CSV data.
.container
  .row
    .col-md-3(style="height: 150px")
      h2 Generate
      p: :markdown
        [![Build Status](https://secure.travis-ci.org/wdavidw/node-csv-generate.png)][travis-csv-generate]
        [travis-csv-generate]: http://travis-ci.org/wdavidw/node-csv-generate
      p Output text, objects or Arrays
      p: a.btn.btn-default(href="/generate") Learn More
    .col-md-3(style="height: 150px")
      h2 Parse
      p: :markdown
        [![Build Status](https://secure.travis-ci.org/wdavidw/node-csv-parse.png)][travis-csv-parse]
        [travis-csv-parse]: http://travis-ci.org/wdavidw/node-csv-parse
      p Input text and output objects or Arrays
      p: a.btn.btn-default(href="/parse") Learn More
    .col-md-3(style="height: 150px")
      h2 Transform
      p: :markdown
        [![Build Status](https://secure.travis-ci.org/wdavidw/node-stream-transform.png)][travis-stream-transform]
        [travis-stream-transform]: http://travis-ci.org/wdavidw/node-stream-transform
      p Input and output objects or Arrays
      p: a.btn.btn-default(href="/transform") Learn More
    .col-md-3(style="height: 150px")
      h2 Stringify
      p: :markdown
        [![Build Status](https://secure.travis-ci.org/wdavidw/node-csv-stringify.png)][travis-csv-stringify]
        [travis-csv-stringify]: http://travis-ci.org/wdavidw/node-csv-stringify
      p Input objects or Arrays and output text
      p: a.btn.btn-default(href="/stringify") Learn More
